#middle {
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 50px;

}

#h3middle {
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 20px;
}

#box {

    padding: 150px;
    margin: 0;
    background-image: url(images/donation13.jpg);




}

.editbutton {
    display: block;
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 7%;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    margin: 2%;
}

.middle2 {
    text-align: center;
    color: black;
    font-weight: 900;
    font-size: 50px;

}

.middle3 {
    text-align: center;
    color: black;
    font-weight: 900;
    margin: auto;
    width: 50%;
    border: 3px solid white;
    padding: 10px;

}



.halfwidth {
    width: 50%;
    padding: 2%;
}



.flexable {
    display: flex;
    margin-bottom: 20px;

}

.shadow1 {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    box-shadow: inset 5em 1em rgb(185, 164, 164);
    padding: 20px;
}

.shadow2 {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    box-shadow: inset 5em 1em rgb(244, 166, 166);
    padding: 20px;
}

.shadow3 {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    box-shadow: inset 5em 1em rgb(193, 162, 162);
    padding: 20px;
}

.shadow4 {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    box-shadow: inset 5em 1em rgb(188, 159, 159);
    padding: 20px;

}

#shadow5 {
    text-align: center;
    color: black;
    font-weight: 900;
    margin: auto;
    width: 50%;
    border: 3px rgb(22, 24, 26);
    padding: 10px;
}


#red {
    color: red;
}

.style-donate-now {
    display: block;
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(red, rgb(223, 87, 14));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 7%;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    margin: 2%;

}

.foodedit {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: inset 5em 20em rgb(188, 159, 159);
    padding: 20px;
}

.shelteredit {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: inset 5em 20em lightgreen;
    padding: 20px;
}

.educationedit {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: inset 5em 20em lightyellow;
    padding: 20px;
}

}