#middle {
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 70px;

}

#h3middle {
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 20px;

}

#box {

    padding: 150px;
    margin: 0;
    background-image: url(images/donation13.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.editbutton {
    display: block;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 8%;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    margin: 2%;
}

.middle2 {
    text-align: center;
    color: black;
    font-weight: 900;
    font-size: 60px;


}

.middle3 {
    text-align: center;
    font-size: 20px;
    color: black;
    font-weight: 900;
    margin: auto;
    width: 50%;
    border: 3px solid white;
    padding: 10px;

}



.halfwidth {
    width: 50%;
    padding: 2%;
}

.halfwidth img {
    width: 80%;
}


.flexable {
    display: flex;
    margin-bottom: 80px;



}

.shadow1 {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    box-shadow: inset 5em 1em rgb(185, 164, 164);
    padding: 20px;
}

.shadow2 {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    box-shadow: inset 5em 1em rgb(244, 166, 166);
    padding: 20px;
}

.shadow3 {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    box-shadow: inset 5em 1em rgb(193, 162, 162);
    padding: 20px;
}

.shadow4 {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    box-shadow: inset 5em 1em rgb(188, 159, 159);
    padding: 20px;

}

#shadow5 {
    text-align: center;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    box-shadow: inset 5em 8em rgb(188, 159, 159);
    padding-right: 20px;


}


#red {
    color: red;
}

.style-donate-now {
    display: block;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 8%;
    color: black;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    margin: 2%;

}

.foodedit {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: inset 5em 20em lightslategrey;
    padding: 20px;
}

.shelteredit {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: inset 5em 20em lightsalmon;
    padding: 20px;
}

.educationedit {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: inset 5em 20em lightseagreen;
    padding: 20px;

}

.donationedit {
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    color: black;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;


}






footer {
    text-align: center;
    background-color: black;
    background-size: cover;
    background-position: center;
    color: red;
    font-weight: bold;
    font-style: italic;
    margin: 0px;
    padding: 10px 40px;
}

button {
    text-decoration: none;
    text-align: center;
    background-color: lightgreen;
    background-size: cover;
    background-position: center;
    color: red;
    font-weight: bold;
    font-style: italic;
    margin: 0px;
    padding: 10px 40px;
}

#subscribedit {
    text-decoration: none;
    text-align: center;
    background-color: lightcoral;
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bold;
    font-style: italic;
    margin: 0px;
    padding: 10px 40px;
}